@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap");

/* Defining Color Variables */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --bright-purple: hsl(244, 83%, 68%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16pt;
  background: var(--pale-blue) url(images/pattern-background-desktop.svg);
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  overflow: visible;
  color: var(--dark-blue);
}

h1 {
  display: none;
}

/* #page-wrapper {
  position: relative;
  display: flex;
  align-content: center;
} */

#content-wrapper {
  position: absolute;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--very-pale-blue);
  padding: 0;
  /* transform: translateY(30%); */
  padding-bottom: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 12px 40px #8985c088;
}

#illustration-hero {
  padding: 0;
  margin: 0;
}

#illustration-hero img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#order-summary {
  width: 70%;
  margin: 0 auto;
  word-wrap: break-word;
  padding: 40px 0;
  text-align: center;
  font-size: 0.7rem;
  color: var(--desaturated-blue);
}

#section-header {
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  color: var(--dark-blue);
  padding-bottom: 15px;
}
h2 {
  font-size: inherit;
  font-weight: inherit;
}

#plan-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70%;
  /* align-content: center; */
  align-items: center;
  align-content: center;
}

.plan-items {
  font-size: 0.6rem;
}

.plan-items img {
  vertical-align: middle;
}

.annual-plan {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  padding-left: 20px;
  color: var(--dark-blue);
}

.annual-plan:first-of-type {
  font-weight: 700;
}

.annual-plan:last-of-type {
  color: var(--desaturated-blue);
}

a {
  font-weight: 700;
}

.plan-items:last-of-type {
  padding-left: 80px;
  align-self: center;
}

.plan-items:last-of-type a:hover {
  color: var(--bright-purple);
  text-decoration: none;
}

.submit {
  display: block;
  width: 70%;
  margin: 20px auto;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.7rem;
  text-align: center;
  text-decoration: none;
}

.pay {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  margin-top: 40px;
  box-shadow: 0px 12px 20px #8985c0;
}

.cancel {
  color: var(--desaturated-blue);
  margin-bottom: 0;
}

.cancel:hover {
  color: initial;
}

.pay:hover {
  background-color: var(--bright-purple);
}

.attribution {
  position: absolute;
  top: 97%;
  bottom: 15px;
  margin-bottom: 20px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--bright-purple);
  text-decoration: none;
}

@media (max-width: 460px) {
  #content-wrapper {
    width: 85vw;
    /* transform: translateY(15%); */
  }
  .plan-items:last-of-type {
    padding-left: 35px;
  }
}

@media (max-width: 375px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
  }
  #order-summary {
    font-size: 0.6rem;
  }
}

@media (max-width: 350px) {
  #plan-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
  .plan-items,
  .annual-plan,
  .plan-items:last-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  #order-summary {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .plan-items {
    padding-bottom: 10px;
  }
  .pay {
    margin-top: 20px;
  }
}

@media (max-height: 680px) {
  #content-wrapper {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .attribution {
    position: relative;
    top: 0;
    bottom: 0;
  }
}
