@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap");

/* Defining Color Variables */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --bright-purple: hsl(244, 83%, 68%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: content-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16pt;
  background: var(--pale-blue) url(images/pattern-background-desktop.svg);
  background-size: cover;
  background-origin: content-box;
  background-position: bottom;
  background-repeat: no-repeat;
}

#content-wrapper {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
  background-color: var(--very-pale-blue);
  padding: 0;
  transform: translateY(30%);
  padding-bottom: 20px;
  border: none;
  border-radius: 20px;
}

#illustration-hero {
  padding: 0;
  margin: 0;
}

#illustration-hero img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#order-summary {
  width: 70%;
  margin: 0 auto;
  word-wrap: break-word;
  padding: 50px 15px;
  text-align: justify;
  font-size: 0.7rem;
  color: var(--desaturated-blue);
}

#section-header {
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  color: initial;
  padding-bottom: 15px;
}

#plan-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70%;
  /* align-content: center; */
  align-items: center;
  align-content: center;
}

.plan-items {
  font-size: 0.6rem;
}

.plan-items img {
  vertical-align: middle;
}

.annual-plan {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  padding-left: 20px;
}

.annual-plan:first-of-type {
  font-weight: 700;
}

.annual-plan:last-of-type {
  color: var(--desaturated-blue);
}

a {
  font-weight: 700;
}

.plan-items:last-of-type a:hover {
  color: var(--bright-purple);
  text-decoration: none;
}

.plan-items:last-of-type {
  padding-left: 80px;
  align-self: center;
}

.submit {
  display: block;
  width: 70%;
  margin: 20px auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.7rem;
  text-align: center;
  text-decoration: none;
}

.pay {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  margin-top: 40px;
  box-shadow: 0px 12px 20px #8985c0;
}

.cancel {
  color: var(--desaturated-blue);
}

.cancel:hover {
  color: initial;
}

.pay:hover {
  background-color: var(--bright-purple);
}
